.container {
  max-width: 1310px;
  margin: 0 auto;

  @media screen and (max-width: 1310px) {
    padding: 0 28px;
  }
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
