*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #2f3747;
  background-color: #fff;

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

ol,
ul {
  list-style: none;
}

button,
input,
select,
textarea {
  border: none;
  background: inherit;
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

button,
select {
  text-transform: none;
}

button {
  line-height: 18px;
}

.scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dedede;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #c0c0c0;
  }
}
