@font-face {
  font-family: "Gilroy";
  src: url(Gilroy-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(Gilroy-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(Gilroy-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
